body {
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.card {
    position: relative;
    width: 300px;
    height: 400px;
    perspective: 1000px; /* perspective for 3D effect */
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backface-visibility: hidden; /* hide backface of the card */
}

.front {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.back {
    background-color: #ffffff;
    transform: rotateY(180deg); /* rotate back face */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.button {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s, background-color 0.3s;
}

.green {
    background-color: #4CAF50;
}

.blue {
    background-color: #2196F3;
}

.orange {
    background-color: #FF9800;
}

.button:hover {
    transform: scale(1.1);
}

#theme-toggle {
    display: none;
}

.toggle-button {
    position: absolute;
    top: 20px;
    left: 20px;
}

.toggle-button label {
    background-color: #ddd;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.dark-theme {
    background-color: #2c2c2c;
    color: #ffffff;
}

.dark-theme .button {
    background-color: #ff5722;
}
